flows (1).json
[{"id":"db4c0d1e.b1288","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"1a65aae6.a57095","type":"ibmiot in","z":"db4c0d1e.b1288","authentication":"apiKey","apiKey":"7912cffd.7f948","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":240,"y":320,"wires":[["61b2b234.1fe83c"]]},{"id":"61b2b234.1fe83c","type":"function","z":"db4c0d1e.b1288","name":"","func":"return {payload:msg.payload.d.temperature};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":340,"wires":[["95e1951e.6e5a38"]]},{"id":"95e1951e.6e5a38","type":"switch","z":"db4c0d1e.b1288","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":300,"wires":[["2dbe5033.d59a2"],["8a1fc918.2af348","cd6aa62c.913678"]]},{"id":"2dbe5033.d59a2","type":"template","z":"db4c0d1e.b1288","name":"safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\nTemperature ({{payload}}) within safe limits","output":"str","x":790,"y":260,"wires":[["480f7a72.70ca84"]]},{"id":"8a1fc918.2af348","type":"template","z":"db4c0d1e.b1288","name":"danger","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature ({{payload}}) critical","output":"str","x":800,"y":320,"wires":[["480f7a72.70ca84"]]},{"id":"480f7a72.70ca84","type":"debug","z":"db4c0d1e.b1288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":280,"wires":[]},{"id":"cd6aa62c.913678","type":"function","z":"db4c0d1e.b1288","name":"","func":"msg.payload=JSON.stringify({\"data\":\"Shutdown\"});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":400,"wires":[["90af6f5d.1259a"]]},{"id":"90af6f5d.1259a","type":"ibmiot out","z":"db4c0d1e.b1288","authentication":"apiKey","apiKey":"7912cffd.7f948","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"shutdown","format":"json","data":"{\"data\":data}","qos":0,"name":"send device command","service":"registered","x":920,"y":420,"wires":[]},{"id":"7912cffd.7f948","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]