nodered_flow.json
[{"id":"3869f5b4.ef932a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee5f27ba.a5d6c8","type":"debug","z":"3869f5b4.ef932a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"527db68.2a0cc48","type":"ibmiot in","z":"3869f5b4.ef932a","authentication":"apiKey","apiKey":"7912cffd.7f948","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":220,"wires":[["eff28fb.28e327","f1bd3ee9.567f","ee5f27ba.a5d6c8","4c677c4e.a6bf14"]]},{"id":"eff28fb.28e327","type":"function","z":"3869f5b4.ef932a","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":280,"wires":[["ee5f27ba.a5d6c8","6901f3e4.84ff3c"]]},{"id":"f1bd3ee9.567f","type":"function","z":"3869f5b4.ef932a","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["ee5f27ba.a5d6c8","195dedb1.f10472"]]},{"id":"6901f3e4.84ff3c","type":"ui_gauge","z":"3869f5b4.ef932a","name":"","group":"707c35ac.22558c","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":280,"wires":[]},{"id":"195dedb1.f10472","type":"ui_gauge","z":"3869f5b4.ef932a","name":"","group":"707c35ac.22558c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":140,"wires":[]},{"id":"f6112479.db0af8","type":"http in","z":"3869f5b4.ef932a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":240,"y":340,"wires":[["87dc4630.c18288"]]},{"id":"6d235a3d.6302e4","type":"http response","z":"3869f5b4.ef932a","name":"","statusCode":"","headers":{},"x":750,"y":340,"wires":[]},{"id":"87dc4630.c18288","type":"function","z":"3869f5b4.ef932a","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"),'moisture':global.get(\"moisture\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":340,"wires":[["6d235a3d.6302e4"]]},{"id":"2b12ef38.a67a","type":"http in","z":"3869f5b4.ef932a","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":220,"y":460,"wires":[["b4955341.b59cd"]]},{"id":"3d10e635.83ea4a","type":"http response","z":"3869f5b4.ef932a","name":"","statusCode":"","headers":{},"x":630,"y":400,"wires":[]},{"id":"b4955341.b59cd","type":"function","z":"3869f5b4.ef932a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["3d10e635.83ea4a","cd0469db.fe1bd8","672046e7.f2a748"]]},{"id":"672046e7.f2a748","type":"ibmiot out","z":"3869f5b4.ef932a","authentication":"apiKey","apiKey":"7912cffd.7f948","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":640,"wires":[]},{"id":"1fb939ae.dfa186","type":"ui_button","z":"3869f5b4.ef932a","name":"","group":"7b73d6ea.1df248","order":2,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":240,"y":540,"wires":[["672046e7.f2a748","98bf554c.108798"]]},{"id":"6573ba44.5e1df4","type":"ui_button","z":"3869f5b4.ef932a","name":"","group":"7b73d6ea.1df248","order":3,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":250,"y":640,"wires":[["672046e7.f2a748","98bf554c.108798"]]},{"id":"98bf554c.108798","type":"debug","z":"3869f5b4.ef932a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":540,"wires":[]},{"id":"cd0469db.fe1bd8","type":"debug","z":"3869f5b4.ef932a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":460,"wires":[]},{"id":"b6d6c789.2a1d28","type":"switch","z":"3869f5b4.ef932a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1020,"wires":[["15d75fb.b7972a"]]},{"id":"15d75fb.b7972a","type":"http request","z":"3869f5b4.ef932a","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=4xWpD1oXvBMOqhkHrFgaPid0lTb6YumytNIJ3LsGzVjc5Z7S9wGX6JnsBNe0gVycuPMOYKQxhEt78iL3&sender_id=FSTSMS&message=Temp is high&language=english&route=p&numbers=9247450567","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":1020,"wires":[[]]},{"id":"4c677c4e.a6bf14","type":"function","z":"3869f5b4.ef932a","name":"Moisture","func":"global.set('moisture',msg.payload.Moisture)\nmsg.payload=msg.payload.Moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":200,"wires":[["ee5f27ba.a5d6c8","3131f937.2be776","abb7fbef.c42f68"]]},{"id":"6a527e70.84c36","type":"http request","z":"3869f5b4.ef932a","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=4xWpD1oXvBMOqhkHrFgaPid0lTb6YumytNIJ3LsGzVjc5Z7S9wGX6JnsBNe0gVycuPMOYKQxhEt78iL3&sender_id=FSTSMS&message=Low Moisture&language=english&route=p&numbers=9247450567","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":200,"wires":[[]]},{"id":"3131f937.2be776","type":"switch","z":"3869f5b4.ef932a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"80","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":240,"wires":[["6a527e70.84c36"]]},{"id":"7c978f4d.e3d2e","type":"switch","z":"3869f5b4.ef932a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1080,"wires":[["e414f814.23e688"]]},{"id":"e414f814.23e688","type":"http request","z":"3869f5b4.ef932a","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=4xWpD1oXvBMOqhkHrFgaPid0lTb6YumytNIJ3LsGzVjc5Z7S9wGX6JnsBNe0gVycuPMOYKQxhEt78iL3&sender_id=FSTSMS&message=It may rain today&language=english&route=p&numbers=9247450567","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":1160,"wires":[[]]},{"id":"4f34749b.f841dc","type":"inject","z":"3869f5b4.ef932a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1180,"wires":[["30abe70d.d131d8"]]},{"id":"30abe70d.d131d8","type":"http request","z":"3869f5b4.ef932a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&units=metric&appid=3c4af8e0be6ce34cb7f33284bf0290a6","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1180,"wires":[["74b25016.e7463","c4d1cf01.cbe24","c049d79.c2b0328","fb5d879.7449c78","c593cbbd.be28f8","3199d7f8.4da848","654e3323.235c8c","e5b8d562.f87ea8","c8c5b290.9d637","d69217f8.083af8"]]},{"id":"74b25016.e7463","type":"debug","z":"3869f5b4.ef932a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1020,"wires":[]},{"id":"c4d1cf01.cbe24","type":"function","z":"3869f5b4.ef932a","name":"temp","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1060,"wires":[["3dc161ea.eaee8e","b6d6c789.2a1d28"]]},{"id":"c049d79.c2b0328","type":"function","z":"3869f5b4.ef932a","name":"humidity%","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1100,"wires":[["36c59a0e.ca3746","7c978f4d.e3d2e"]]},{"id":"3dc161ea.eaee8e","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"<font color={{msg.blue}}>{{msg.payload}}</font>","layout":"row-spread","x":750,"y":1060,"wires":[]},{"id":"36c59a0e.ca3746","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":1100,"wires":[]},{"id":"2713fe59.06ec62","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":4,"width":0,"height":0,"name":"","label":"Weather report","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1140,"wires":[]},{"id":"14e7c00b.4e71b","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":5,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1180,"wires":[]},{"id":"fb5d879.7449c78","type":"function","z":"3869f5b4.ef932a","name":"main","func":"msg.payload=msg.payload.weather[0].main\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1140,"wires":[["2713fe59.06ec62"]]},{"id":"c593cbbd.be28f8","type":"function","z":"3869f5b4.ef932a","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1180,"wires":[["14e7c00b.4e71b"]]},{"id":"3199d7f8.4da848","type":"function","z":"3869f5b4.ef932a","name":"City name","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1220,"wires":[["691404ef.1e491c"]]},{"id":"654e3323.235c8c","type":"function","z":"3869f5b4.ef932a","name":"wind speed","func":"msg.payload=msg.payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1260,"wires":[["997df44e.5df318"]]},{"id":"e5b8d562.f87ea8","type":"function","z":"3869f5b4.ef932a","name":"wind degree","func":"msg.payload=msg.payload.wind.deg\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1300,"wires":[["dc638c58.37a64"]]},{"id":"c8c5b290.9d637","type":"function","z":"3869f5b4.ef932a","name":"Longitude","func":"msg.payload=msg.payload.coord.lon;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1340,"wires":[["5eb4bc37.f71874"]]},{"id":"d69217f8.083af8","type":"function","z":"3869f5b4.ef932a","name":"latitude","func":"msg.payload=msg.payload.coord.lat\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1380,"wires":[["9b3a4034.3f28"]]},{"id":"691404ef.1e491c","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":1,"width":0,"height":0,"name":"","label":"City Name","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":1220,"wires":[]},{"id":"997df44e.5df318","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":7,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":1260,"wires":[]},{"id":"dc638c58.37a64","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":6,"width":0,"height":0,"name":"","label":"Wind Degree","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":1300,"wires":[]},{"id":"5eb4bc37.f71874","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":9,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":1340,"wires":[]},{"id":"9b3a4034.3f28","type":"ui_text","z":"3869f5b4.ef932a","group":"256a07d9.cb6a68","order":8,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1380,"wires":[]},{"id":"abb7fbef.c42f68","type":"ui_gauge","z":"3869f5b4.ef932a","name":"","group":"7b73d6ea.1df248","order":1,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":240,"wires":[]},{"id":"7912cffd.7f948","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"707c35ac.22558c","type":"ui_group","z":"","name":"Sensor values","tab":"fb626ca7.f173c","order":2,"disp":true,"width":"6","collapse":false},{"id":"7b73d6ea.1df248","type":"ui_group","z":"","name":"User Interface","tab":"fb626ca7.f173c","order":1,"disp":true,"width":"6","collapse":false},{"id":"256a07d9.cb6a68","type":"ui_group","z":"","name":"Openweathermap Details ","tab":"fb626ca7.f173c","order":4,"disp":true,"width":"6","collapse":false},{"id":"fb626ca7.f173c","type":"ui_tab","z":"","name":"Smart Irrigation","icon":"dashboard","disabled":false,"hidden":false}]